<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="add-tour.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="/add-tour" method="post">
      <div class="container">
        <div class="form-group">
          <label for="formGroupExampleInput">Tournament id</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            name="t_id"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Tournament name</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            name="t_name"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Tournament type</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            name="t_type"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Tournament duration</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            name="t_duration"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Tournament date</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            name="t_date"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Tournament day</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            name="t_day"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Tournament venue</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            name="t_venue"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-success">submit</button>
    </form>
  </body>
</html>
