<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/home.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light primary" style="background-color: rgb(133, 133, 133);">
      <a style="color:white" class="navbar-brand" href="#">🔰SPORTS CLUB🔰</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color:white" class="nav-link" href="/home"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a style="color:white" class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a style="color:white" class="nav-link" href="/signup">Signup</a>
          </li>
        </ul>
      </div>
    </nav>
      <div class="sports-cards">
      <div class="inner_s_cards">
        <% s_details.forEach((el) => {%>
        <div class="card" style="width: 18rem">
          <img
            src="/<%=el.s_name%>.jpeg"
            class="card-img-top card-img"
            alt="..."
            style="border-top-left-radius: 10px; border-top-right-radius: 10px"
          />
          <div class="card-body">
            <h5 class="card-title"><%= el.s_name %></h5>
            <p class="card-text">
              Practice days : Sat & Sun <br />
              Timings :<br />
              Morning - 7:30-10am<br />
              Evening - 4:30-6pm
            </p>
            <a href="/login" class="btn btn-primary regbtn" id="<%=el.s_name%>"</a>
              Register</a
            >
          </div>
        </div>
        <% })%>
      </div>
    </div>
    <script src="./../app.js">
      document.querySelector(".lg-btn").addEventListener("click", () => {
        flag = 0;
        console.log(flag)
      })
    </script>
  </body>
</html>
