* {
  font-family: poppins;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.current,
.upcoming {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.upcoming {
  margin-top: 60px;
}
.element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 60px;
  box-shadow: 0px 0px 10px 1px rgba(68, 68, 68, 0.199);
  margin: 5px 0px 5px 0px;
}
.element:hover {
  transition: 0.2s;
  transform: scale(1.01);
}
button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: rgb(189, 187, 59);
  margin: 5px 20px 5px 20px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}
.heading {
  font-size: 40px;
  font-weight: bold;
}
button:hover {
  background-color: rgb(105, 105, 0);
}
p {
  margin: 5px 20px 5px 20px;
  color: rgb(17, 17, 109);
}
.enroll {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 125px;
  height: 40px;
  background-color: rgb(0, 109, 233);
  border-radius: 3px;
  color: white;
  font-size: 16px;
  margin-right: 20px;
  text-decoration: none;
  flex-direction: column;
}
.enroll:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(0, 174, 255);
}

.box {
  margin-left: 50px;
}
